<div class="film-card">
    <div class="film-card-image">
        <img class="film-image" src="{{}}" alt="{{}}">
    </div>
    <div class="film-card-info">
        <h1 class="film-name">{{}}</h1>

        <div class="film-detail-wrapper">

            <div class="film-detail-name">
                <p class="film-detail-name-p">Vote/Votes</p>
                <p class="film-detail-name-p">Popularity</p>
                <p class="film-detail-name-p">Original Title</p>
                <p class="film-detail-name-p">Genre</p>
            </div>

            <div class="film-detail-value">
                <p class="film-detail-value-p">{{}}/{{}}</p>
                <p class="film-detail-value-p">{{}}</p>
                <p class="film-detail-value-p">{{}}</p>
                <p class="film-detail-value-p">{{}}</p>
            </div>
        </div>

        <h2 class="film-about">About</h2>
        <p class="film-description">{{}}</p>

        <div class="btn-wrapper">
            <button class="film-card-btn" type="button" data-add-watched>add to watched</button>
            <button class="film-card-btn" type="button" data-add-queue>add to queue</button>
        </div>
    </div>
</div>