{{!-- Здесь доджен быть шаблон карточки фильма!!! Этот для проверки отрисовки карточек --}}
{{#each this}}
<li class="movie__list-item">
    <div class="movie-card__wrapper-img">
        <img src="./images/after-delete-1.jpg" alt="" class="movie-card__img" />
    </div>
    <h3 class="movie-card__name">ONCE UPON A TIME... IN HOLLYWOOD</h3>
    <p class="movie-card__description">Drama, Comedy | 2019</p>
    <p class="movie-card__rating">3.7</p>
</li>
{{/each}}