@import './scss/vars';
@import './scss/utils';
@import './scss/base';
@import './scss/container';
@import './scss/movie-list';
@import './scss/movie-card';
@import './scss/components';
@import './scss/header-library';
@import './scss/header';
@import './scss/theme-switch';
@import './scss/mainheader';
@import './scss/firebase';
@import './scss/footer';
@import './scss/pnotify';
@import './scss/spinner';
@import './scss/modal-team';
@import './scss/pagination-controls';

img {
  display: block;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
