@import './scss/vars';
@import './scss/utils';
@import './scss/base';
@import './scss//modal-overlay';
@import './scss/container';
@import './scss/movie';
@import './scss/components';
@import './scss/header-library';
@import './scss/theme-switch';
@import './scss/header-main';
@import './scss/firebase';
@import './scss/footer';
@import './scss/pnotify';
@import './scss/modal-team';
@import './scss/pagination-controls';
@import './scss/modal-movie-card';
@import './scss/star-wars';

img {
  display: block;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
