.picture-title__home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--text-color-dark);
}
.picture-title__home.genre-year {
  color: var(--color-accent);
}
