*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
body {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;

  font-size: 12px;
  line-height: 1.333;
  color: var(--text-color-dark);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.picture-title__home.genre-year {
  color: var(--color-accent);
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color-light);
}
