*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;

  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  color: var(--text-color-dark);
}
.picture-title__home.genre-year {
  color: var(--color-accent);

}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color-light);
}
