.footer-container {
    background-color: var(--bg-color-secondary); 
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .students-link {
    color:var(--text-color-shadow);
  }
  .copyright-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color-shadow);
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-container{
        height: 100px;
        padding:0 20px ;
    }
  }
  .icon-heart {
    animation: pulse 1s ease infinite;

  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }