.nav-link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-light);
}
.nav-active {
  position: relative;
}
.nav-active::after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 3px;
  background-color: var(--color-accent);
  width: 100%;
}
