header {
  padding-top: 40px;
  padding-bottom: 90px;
  background-image: url(./images/Rectangle-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  color: var(--text-color-light);
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.pages {
  display: flex;
  margin-left: auto;

  & a {
    color: var(--text-color-light);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  & li:not(:last-child) {
    margin-right: 40px;
  }
}

.search-button {
  height: 12px;
  width: 12px;
}
