// ------Overlay для модалок-------//
.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  &.show {
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
  }
}
