.movies {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.movie__list {
  list-style: none;
  padding: 0;

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.movie__list-item {
  box-sizing: border-box;
  @media screen and (max-width: 767px) {
    //$breakpoint-tablet-1px
    width: 280px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 15px;
    width: 293px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 274px;
  }
}
