.movie__list {
  list-style: none;
  padding: 0;

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.movie__item {
  box-sizing: border-box;
  @media screen and (max-width: 767px) {
    //$breakpoint-tablet-1px
    width: 280px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 15px;
    width: 293px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 274px;
  }
}

.movie__item:hover,
.movie__item:focus {
  transform: scale(1.1);
}
.movie__item {
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;
}
