.movies {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.movie__list {
  padding: 0;

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.movie__item {
  cursor: pointer;
  transition: transform 250ms linear;
  box-sizing: border-box;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 15px;
    width: 293px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 274px;
  }
}
