
.movie-card {
  &__wrapper-img {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 398px;
  }
  &__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__name,
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
  &__name {
    color: var(--text-color-dark);
  }
  &__name,
  &__description,
  &__rating {
    margin: 0;
  }
  &__description {
    color: var(--color-accent);
    display: inline-block;
  }
  &__rating {
    display: inline-block;
    padding: 1px 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    color: var(--text-color-light);
    background: var(--color-accent);
    border-radius: 5px;
  }
}
