.pagination {
  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;

    @media screen and(max-width: $breakpoint-tablet) {
      margin-top: 40px;
    }
    @media screen and(min-width: $breakpoint-tablet) {
      margin-top: 50px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;

    background: #f7f7f7;
    border: none;
    border-radius: 5px;
  }
}

.pagination-controls {
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__btn {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
  &__btn.active {
    width: 40px;
    height: 40px;
    background: #ff6b08;
    background: #ff6b08;
    border-radius: 5px;
  }
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    padding: 5px;

    background-color: transparent;
    border: none;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
