.pagination {
  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;

    @media screen and(max-width: $breakpoint-tablet) {
      margin-top: 40px;
    }
    @media screen and(min-width: $breakpoint-tablet) {
      margin-top: 50px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;

    background: #f7f7f7;
    border: 2px solid #f7f7f7;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
      // border: 2px solid #ff6b08;
      background-color: rgba(255, 107, 8, 0.4);
    }
  }
  // body.dark-theme &__btn {
  //   background-color: #ff6b08;
  // }
  // body.dark-theme &__svg {
  //   fill: #ffffff;
  // }
}

.pagination-controls {
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__btn {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #ff6b08;
      color: #ffffff;

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    // &:active {
    //   transform: scaleX(1) translateY(-2px) translateX(1px);
    // }
    &::hover,
    &::focus {
      box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
      transform: translateY(-0.25em);
    }
  }

  body.dark-theme &__btn {
    color: #ff6b08;
    color: #ffffff;
  }

  &__btn.active {
    width: 40px;
    height: 40px;
    background: #ff6b08;
    border-radius: 5px;
    color: #ffffff;
  }
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 100%;
    padding: 5px;

    text-align: center;
    background-color: transparent;
    border: none;
  }

  body.dark-theme &__input {
    color: #ffffff;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
