.pnotify {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.pnotify-container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 250px;
}
.pnotify-closer {
  margin-left: 30px;
}
