:root {
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --text-color-shadow: #545454;
  --text-color-movie-info: #8c8c8c;
  --text-color-warrning: #ff001b;

  --bg-color-main: #ffffff;
  --bg-color-secondary: #F7F7F7;

  --color-accent: #ff6b08;
}

/* Main font */
$main-font: 'Roboto', sans-serif;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
